@model ASI.Basecode.Data.Models.Expense

<div class="pt-6">
    
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" asp-action="Create" asp-controller="Expense">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" asp-for="Title" placeholder="Enter Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Amount</label>
            <input type="number" class="form-control" asp-for="Amount" min="0" step="0.01" placeholder="Enter Amount" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" asp-for="CategoryID" asp-items="@(new SelectList(ViewBag.Categories, "CategoryID", "CategoryName"))">
                <option value="">Select a category</option>
            </select>
            <span asp-validation-for="CategoryID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="date" class="form-control" asp-for="Date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="3" asp-for="Description" placeholder="Enter Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary" style="background-color: #0D7C66; width:250px; border-radius: 20px;">Submit</button>
        </div>
    </form>
</div>

