@model ASI.Basecode.Data.Models.Category
@section styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css?v=1.5" />
}
<div class="eCat">
    <div class="ebtn">
    <h3>Edit Category</h3>
    <button type="button" class="closebtn" onclick="window.history.back();">&times;</button>
    </div>

    <form method="post" asp-action="Edit" onsubmit="return confirm('Do you wish to save changes?');">
        
        <input type="hidden" asp-for="CategoryID" />

        <div class="form-group" style="padding-bottom: 1rem;">
            <label>Category Name</label>
            <input type="text" class="form-control" asp-for="CategoryName"/>
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary" style="border-radius: 5px; width: 100px;">Update</button>
        </div>
    </form>
</div>